# Python
**/__pycache__/
*.py[cod]
*.pyo

# Virtual Envs
.venv/
venv/

# Packaging / build
build/
dist/
*.egg-info/

# Logs & temp
*.log
*.tmp
tmp/

# IDE & Editor
.vscode/
.idea/

# OS junk
Thumbs.db
Desktop.ini
.DS_Store

# Misc
.env
